*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background-color: #09d9ac;
}

.container {
    background-color: rgb(0, 255, 123);
    padding: 2rem;
    border-radius: 1rem;
    min-height:40vh;
}
/* *{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background-color: #2ac249;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height:40vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
} */

form {
    margin : 2rem 0 1rem 0;
}

form select,button,input{
    width :100%;
    border:none;
    outline:none;
    border-radius: 0.75rem;
    cursor:pointer;

}

form input {
    /* margin: 1rem; */
    border:1px solid lightgrey;
    font-size:1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem
}

.dropdown i{
   font-size: 1.5rem;
   margin-top:1rem;
}

.select-container img {
    font-size: 1.75rem;
    max-width: 2rem;
    cursor: pointer;
}
.select-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:6rem;
    /* background-color:blue; */
    border-radius: 0.5rem;
    border:1px solid lightgrey;
}

.select-container select {
    font-size:1rem;
    width:auto;
}

.msg {
    margin: 2rem 0 2rem 0;
}

form button {
    height: 3rem;
    background-color: #15e1f4;
    color:#0f43c5;
    font-size: 1.15rem;
    cursor:pointer;
}
form button:hover {
    background-color: #179ca9;
    color:#fff;
}